@{
    Layout = "_Layout1";
}
<div class="container">
<section class="about_section layout_padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/Image/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Our Bookstore
                        </h2>
                           
                    </div>
                    <p style="text-align: justify">
                       FPTBook works to connect readers with independent booksellers all over the world.
                       We believe local bookstores are essential community hubs that foster culture, curiosity, and a love of 
                       reading, and we're committed to helping them thrive.
                       Every purchase on the site financially supports independent bookstores. Our platform gives independent 
                       bookstores tools to compete online and financial support to help them maintain their presence in local 
                       communities.
                    </p>
                    
                    
                </div>
            </div>
        </div>
        <div class="container col-md-12" style="margin-top:100px" >
            <img src="~/Image/logo.png" width="250px" style="margin-left:400px"/>
                <div class="heading_container">
                    <h2 style="margin-left:430px">
                        Our History
                    </h2>
                </div>
            <div style="text-align:justify; margin-left: 130px" class="col-md-9">
             <p>
                FPTBook began as an idea to help support bookstores and their communities as more and more people
                are buying their books online. We saw an opportunity to create an alternative to Amazon for socially-conscious
                online shoppers. Amazon sells over 60% of all books in the US and is growing. That shift threatens the
                future of bookstores and will hurt readers, authors, and publishers who rely on a diverse, healthy
                ecosystem for books. We had a better idea — give readers the convenience of online shopping while
                supporting independent bookstores at the same time.<br />
                We launched in October of 2022, with just 88 bookstore partners and a team of four passionate book people.<br />

                As the COVID-19 pandemic surged, our growing platform helped our community of independent booksellers
                survive shutdowns. That spring, traffic to Bookshop.org hit 1 million users in a single day. By the end
                of 2022 we had grown to over 1,000 bookstores and distributed over ten million dollars in profits.
                FPTBookhas since expanded internationally, launching in the UK and Spain.<br />

                78% of our customers said they regularly bought books from Amazon before they made the switch.
                </p>

                
            </div>
               
        </div>

     <!--   <div class="container row">
                <div class="heading_container">
                <h2 style="margin-left:430px; font-size:50px">
                   F.A.Q.
                </h2>
            </div>
            <div class="col-md-6">
                <div class="w">

                </div>
            </div>
               </div>-->

        </div>
</section>
</div>